# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/

# NestJS / TypeScript
dist/
build/
*.tsbuildinfo

# Prisma
# Note: Prisma Client is usually generated into node_modules
# If you change the output, add it here.

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!.env.example

# Testing
coverage/
.nyc_output/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# Other
.cache/
.turbo/

# me add 
context/